<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>AM Chat</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div id="wrapper">
      <div id="formPop">
          <p>What's your name?</p>
          <input type="text" class="userName" name="user" />
          <input type="submit" value="Create" id='button' class="loginButton"/>
      </div>
    </div>  <!-- end wrapper -->
    <main>
        <!-- begin userarea -->
        <aside class="user-sidebar">
          <p>Stuff we can see</p>
            <div id="persons"></div>
        </aside>
        <!-- end userarea -->

        <!-- begin chatarea -->
        <article class="chat-area">
            <div id="chats"></div>
        </article>
        <!-- end chatarea -->

        <!-- begin message input -->
        <div class="message-input">
          <form action="POST">
            <fieldset>
              <input class="field" type="text" placeholder="I have something to say..." name="message"/>
              <input type="submit" value="Create" class="button" />
            </fieldset>
          </form>
        </div>
        <!-- end message input -->
    </main>
    <script type="text/template" id="person">
        <div class="userContainer">
        <img src="favicon.ico" alt="mustache man">
        
        </div>
    </script>
    <script type="text/template" id="chat">
        <div class="messageContainer">
        <img src="favicon.ico" alt="mustache man">
        <p><%= user %></p>
        <p><%= message %></p>
        <p><%= moment('sentAt').fromNow() %></p>
        </div>
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
